
<?php if (Mage::helper('leviathanslideshow')->getCfg('general/enabled')): ?>
    <?php $categoryId = Mage::helper('leviathanslideshow')->getCfgGeneral('category') ?>
    <?php $blockId = Mage::helper('leviathanslideshow')->getCfgGeneral('static_block_id') ?>
	<?php $jsSettings = $this->getSlideshowOptions() ?>
    <?php $block = $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml() ?>
	<?php preg_match_all('/src=\"([^\"]*)\"/', $block, $arr ); ?>
   <div id="leviathan-homepage-slider">
      <div class="slider-wrapper theme-light">
	        <div id="slider" class="nivoSlider">
				<?php if ($block): ?>
				    <?php foreach($arr[1] as $url): ?>
				        <?php if (strpos($url, Mage::getUrl()) !== false): ?>
				        	<?php $imgUrl = Mage::helper('leviathanslideshow')->resizeImg($url, $this->getSliderWidth(), $this->getSliderHeight()); ?>
				            <img src="<?php echo $imgUrl ?>" data-thumb="<?php echo $imgUrl ?>" alt="<?php echo $imgUrl ?>" />
				        <?php endif; ?>
				    <?php endforeach; ?>
				<?php endif; ?>
	
				<?php foreach($this->getCategoryProducts($categoryId) as $product): ?>
					<?php if ($product->getSmallImage() !== 'no_selection'): ?>
						<?php $imgUrl = Mage::helper('leviathanslideshow')->resizeImg(Mage::getUrl('media/catalog/product') . $product->getSmallImage(),  $this->getSliderWidth(), $this->getSliderHeight()) ?>
						<img src="<?php echo $imgUrl ?>" data-thumb="<?php echo $imgUrl ?>" title="<?php echo strip_tags($product->getName()) ?>" alt="<?php echo strip_tags($product->getName()) ?>" />   
					<?php endif; ?>	          
				<?php endforeach; ?>
	        </div>
	    </div>
	</div> <!-- end #leviathan-homepage-slider  -->
	<script type="text/javascript">
		
		var homepageSliderOptions = new Array();
    homepageSliderOptions['effect'] = '<?php echo $jsSettings["slideshow_transition"] ?>';
    homepageSliderOptions['slices'] = <?php echo $jsSettings["slideshow_slices"] ?>;
    homepageSliderOptions['boxCols'] = <?php echo (int)$jsSettings["slideshow_box_cols"] ?>;
    homepageSliderOptions['boxRows'] = <?php echo (int)$jsSettings["slideshow_box_rows"] ?>;
    homepageSliderOptions['animSpeed'] = <?php echo (int)$jsSettings["slideshow_pause_time"] ?>;
    homepageSliderOptions['pauseTime'] = <?php echo (int)$jsSettings["slideshow_pause_time"] ?>;
    homepageSliderOptions['startSlide'] = <?php echo (int)$jsSettings["slideshow_first_slide"] ?>;
    homepageSliderOptions['directionNav'] = <?php echo ((!$jsSettings["slideshow_direction_nav"]) ? 'false' : 'true') ?>;
    homepageSliderOptions['directionNavHide'] = <?php echo ((!$jsSettings["slideshow_direction_nav_hide"] == '') ? 'false' : 'true')  ?>;
    homepageSliderOptions['controlNav'] = <?php echo ((!$jsSettings["slideshow_control_nav"]) ? 'false' : 'true') ?>;
    homepageSliderOptions['controlNavThumbs'] = <?php echo ((!$jsSettings["slideshow_control_nav_thumbs"]) ? 'false' : 'true')  ?>;
    homepageSliderOptions['pauseOnHover'] =  <?php echo ((!$jsSettings["slideshow_pause_on_hover"]) ? 'false' : 'true')  ?>;
    homepageSliderOptions['manualAdvance'] = <?php echo ((!$jsSettings["slideshow_manual_advance"]) ? 'false' : 'true') ?>;
    homepageSliderOptions['prevText'] = '<?php echo $jsSettings["slideshow_prev_text"] ?>';
    homepageSliderOptions['nextText'] = '<?php echo $jsSettings["slideshow_next_text"] ?>';
    homepageSliderOptions['randomStart'] = <?php echo ((!$jsSettings["slideshow_random_start"]) ? 'false' : 'true') ?>;

    </script>
<?php endif;?>
