
<?php
	$cloudHelper = Mage::helper('leviathan_cloudzoom');
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $cloudConfig = $this->getCloudConfig();
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>

	<p class="product-image">
        <a href="<?php echo $cloudHelper->getImgUrl($this, $_product, 600, 400) ?>" class="cloud-zoom" id="zoom1" rel="<?php echo $cloudConfig ?>">
            <img src="<?php echo $cloudHelper->getImgUrl($this, $_product, 265, 200) ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel());?>" title="<?php echo $this->htmlEscape($this->getImageLabel());?>" width="<?php echo $imgWidth;?>" />
        </a>
        <?php // echo $_helper->productAttribute($_product, $_img, 'image'); ?>
    </p>
	
<?php else: ?>
	<p class="product-image">
	    <?php
	        $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(265).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
	        //echo $_helper->productAttribute($_product, $_img, 'image');
	    ?>
	</p>
<?php endif; ?>



<?php if (count($this->getGalleryImages()) > 0): ?>
	<div class="more-views">
	    <h2><?php echo $this->__('More Views') ?></h2>
	    <ul>
	    <?php foreach ($this->getGalleryImages() as $_image): ?>
	        <li>
	            <a href="#" onclick="popWin('<?php echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(56); ?>" width="56" height="56" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>
	        </li>
	    <?php endforeach; ?>
	    </ul>
	</div>
<?php endif; ?>
